<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.groupone.mapper.ProductMapper">

<select id="selectProductList">
	select p_code as pCode
	       , user_no as userNo
	       , title as title
	       , description as description
	       , theme as theme
	       , country as price
	       , price as price
	       , start_day as startDay
	       , end_day as endDay
	       , max_qty as maxQty
	       , status as status
	       , created_at as createdAt
	from tbl_product
	
	
</select>



</mapper>