<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.groupone.mapper.QnaMapper">

  <insert id="insertBoard" parameterType="Qna">
	insert into tbl_qna(
		q_code
		, user_no
        , type
        , title
        , question
   	)
	values (
		qna_seq.nextval
		, #{userNo}
		, #{type}
		, #{title}
		, #{question}
	
	)
  </insert>
	
	<!-- qnaList 목록보기 -->
	<select id="selectQnaList" resultType="Qna">
	  select q_code as "qCode",
	  		 type,
	         title,
	         q_date as "qDate",
	         status
	  from tbl_qna 
	  order by q_code desc
	</select>
	
	<select id="selectKeyword" parameterType="String" resultType="Qna">
	  select  q_code as "qCode",
	  		 type,
	         title,
	         q_date as "qDate",
	         status
	  from tbl_qna 
	  where title like '%'||#{keyword}||'%' 
	  order by q_code
	</select>
	
	<select id="selectMyQna" parameterType="int" resultType="Qna">
	  select q_code,
	  		 user_no,
	  		 status,
	         title,
	         question,
	         q_date as "qDate"
	  from tbl_qna
	  where q_code= #{qCode}   
	</select>
	
	<update id="updateQna" parameterType="Qna">
	  update tbl_qna
	  set title = #{title},
	      question = #{question}
	  where q_code = #{qCode}          
	</update>
	
	<select id="selectListWithUserNo" parameterType="int" resultType="Qna">
		select *
		from tbl_qna
		where user_no = #{userNo}
		and	relation_qcode is null
	</select>
	
	<insert id="insertAnswer" parameterType="Answer">
		insert into tbl_answer
		values (#{qCode}, #{userNo}, #{writer}, #{answer}, #{aDate})
	</insert>
	
</mapper>