<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.groupone.mapper.ReservationMapper">

  <select id="selectReservation" parameterType="int" resultType="Reservation">
    SELECT r.r_code, r.user_no, r.p_code, r.status, r.amount, r.t_price,
           p.title, p.start_day, p.end_day
    FROM tbl_reservation r
    JOIN tbl_product p ON r.p_code = p.p_code
    WHERE r.user_no = #{userNo}
  </select>

  <insert id="insertReservation" parameterType="Reservation">
    INSERT INTO tbl_reservation (r_code, user_no, p_code, amount, t_price, status)
    VALUES (res_seq.nextval, #{userNo}, #{pCode}, #{amount}, #{tPrice}, 1)
  </insert>

</mapper>
