<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.groupone.mapper.UserMapper">

	<select id="selectUserInfo" resultType="User">
		SELECT *
		FROM tbl_user
		WHERE user_no = #{userNo}
	</select>


	<select id="selectUser" resultType="User">
		SELECT *
		FROM tbl_user
		WHERE
		user_id = #{id}
		AND user_pw = #{pw}
	</select>

	<select id="selectUserWithId" parameterType="String"
		resultType="User">
		SELECT *
		FROM tbl_user
		WHERE user_id = #{userId}
	</select>

	<insert id="insertUser" parameterType="User">
		INSERT INTO tbl_user
		(user_no
		,user_name
		,user_id
		,user_phone
		,user_birth
		,user_pw
		)
		VALUES
		(user_seq.nextval
		,
		#{userName},#{userId},#{userPhone},#{userBirth},#{userPw})
	</insert>

	<select id="selectWishList" parameterType="int"
		resultType="Product">
		SELECT *
		FROM tbl_product
		WHERE p_code
		IN (SELECT p_code
		FROM
		tbl_wish
		WHERE user_no = #{userNo})
	</select>
	
	<select id="selectUserList">
		select user_no as "userNo"
		     , user_id as "userId"
		     , user_pw as "userPw"
		     , user_name as "userName"
		     , user_birth as "userBirth"
		     , user_phone as "userPhone"
		     , isadmin as "isAdmin"
		from tbl_user
	</select>


	<delete id="deleteUser" parameterType="int">
		DELETE FROM tbl_user
		WHERE
		user_no = #{userNo}
	</delete>

	<update id="updateUser" parameterType="User">
	  UPDATE tbl_user
	  <set>
	    <if test="userPhone != null">user_phone = #{userPhone},</if>
	    <if test="userId != null">user_id = #{userId},</if>
	    <if test="userPw != null">user_pw = #{userPw},</if>
	    <if test="userName != null">user_name = #{userName},</if>
	  </set>
	  WHERE user_no = #{userNo}
	</update>


	<update id="passwordUpdate" parameterType="User">
		UPDATE tbl_user
		SET user_pw = #{userPw}
		WHERE user_no = #{userNo}
	</update>

	<select id="findPw" resultType="User">
		SELECT *
		FROM tbl_user
		WHERE
		    user_id = #{id}
		AND user_phone = #{phone}
		AND user_name = #{name}
	</select>
	
</mapper>

