<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
    <setting name="jdbcTypeForNull" value="NULL"/>
  </settings>

  <typeAliases>
    <typeAlias alias="User" type="com.groupone.vo.UserVO"/>
    <typeAlias alias="Product" type="com.groupone.vo.ProductVO"/>
    <typeAlias alias="Qna" type="com.groupone.vo.QnaVO"/>
    <typeAlias alias="Reservation" type="com.groupone.vo.ReservationVO"/>
    <typeAlias alias="Review" type="com.groupone.vo.ReviewVO"/>
    <typeAlias alias="Answer" type="com.groupone.vo.AnswerVO"/>
    <typeAlias alias="Wish" type="com.groupone.vo.WishVO"/>
  </typeAliases>
  
  

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        
        <!-- 해민씨 자리 아이피 -->
        <property name="url" value="jdbc:oracle:thin:@192.168.0.190:1521:xe"/>
        <property name="username" value="jsp"/>
        <property name="password" value="jsp"/>
      </dataSource>
    </environment>
  </environments>

  <mappers>


    <mapper resource="com/groupone/mapper/UserMapper.xml"/>
    <mapper resource="com/groupone/mapper/ProductMapper.xml"/>
    <mapper resource="com/groupone/mapper/QnaMapper.xml"/>
		<mapper resource="com/groupone/mapper/ReviewMapper.xml"/>
   	<mapper resource="com/groupone/mapper/ReservationMapper.xml"/>
   	<mapper resource="com/groupone/mapper/WishMapper.xml"/>
  </mappers>

</configuration>